$body-dark: #1c1d31; // body background
$dark-bg: #22223a; // hero shade
$dark-light-bg: #282945; // pills bg shade
$dark-light: #313355; // tile light top share
$labels-dark: #8a8dba; // header nav, labels
$dark-stakes-banned-background: #3e314c;

// Switcher
.dark-mode-changer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	background: transparent;
	border: none;
	cursor: pointer;
	margin-right: 5px;
	outline: none !important;
	box-shadow: none !important;
	transition: .2s ease-in;
	&:hover {
		opacity: .8;
	}
	svg path {
		fill: #828ba0;
	}
	&--dark {
		svg path {
			fill: $dark-primary;
		}
	}
}

.dark-theme-applied {
	color: #fff;

	.prime-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		color: #757F8F;

		a {
			color: #00E7FF;
		}
	}

	.modal {
		background-color: rgba(19, 21, 31, 0.9);
	}

	// navbar
	.navbar.navbar-primary {
		background-color: #0E0F16;
		.input-group-text {
			&.border {
				background-color: $dark-light-bg;
			}
		}
	}
	.navbar-brand .navbar-logo {
		filter: brightness(0) invert(1);
	}
	.navbar.navbar-primary .navbar-nav .nav-link {
		color: #FFFFFF;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		
		.nav-link-icon {
			svg path {
				fill: #FFFFFF;
			}
		}
		&.active, &:hover {
			.nav-link-icon {
				svg path {
					fill: $dark-primary;
				}
			}
			&:before {
				background-color: $dark-primary;
			}
		}
	}
	.navbar.navbar-primary .form-control {
		background-color: #13151F;
		border-color: #13151F;
		color: #fff;
		&::placeholder {
			color: $labels-dark;
		}
	}
	.navbar.navbar-primary .navbar-toggler .navbar-toggler-icon {
		filter: invert(1);
	}

	// footer
	.footer {
		background: #0E0F16;
		color: #9CA3AF;
	}
	.footer-social-icon,
	.footer-link {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #9CA3AF;
	}
	.footer-social-icon:hover,
	.footer-link:hover {
		color: #fff;
	}
	.footer-list ul li::before {
		background-color: $dark-secondary;
		display: none;
	}

	// hero stats

	.layout-container .dashboard-banner-container {
		background-image: none;
		background-color: #1B1E2B !important;
	}
	.dashboard-banner-network-plain-container,
	.dashboard-banner-network-plain-container::after {
		background-color: #1F2333;
	}
	.dashboard-banner-network-stats-label {
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		color: #FFFFFF;
	}
	.dashboard-banner-chart-legend .dashboard-banner-chart-legend-label {
		color: #9CA3AF;
	}
	.dashboard-banner-network-stats-item::before {
		background-color: #75E44E;
	}
	.dashboard-banner-chart-legend .dashboard-banner-chart-legend-item {
		&.price-per-day {
			&::before {
			  background-color: $dark-primary;
			}
		  }
	  
		  &.gas-price-oracle {
			&::before {
			  background-color: #6978FF;
			}
		  }
	  
		  &.market-cap-per-day {
			&::before {
			  background-color:$dark-secondary;
			}
		  }
	  
		  &.tx-per-day {
			&::before {
			  background-color: #00E7FF;
			}
		  }
	}

	// main container, layout, cards
	.layout-container main {
		background-color: #13151F;
	}

	.card {
		background-color: transparent;
		box-shadow: unset;
		&.js-ad-dependant-mb-2 {
			background-color: transparent;
		}

		.card-body {
			.list-data-item {
				.tile {
					background-color: #13151F;
				}
			}
		}
	}

	.card-2 {
		background-color: #0E0F16;
		border-radius: 8px;
	}

	#account, #logs, #token, #stats, #block, #contract, #transaction, #docs-eth {
		background: #0E0F16;
    border-radius: 8px;

		.card-header {
			border-bottom-color: #191C29;
		}
		.api-doc-list-item {
			border-bottom-color: #191C29;

			.api-doc-list-item-title {
				color: #FFFFFF;
			}

			.api-doc-list-item-text {
				color: #757F8F;
			}

			.tile.tile-muted {
				background: #13151F;

				pre, pre strong {
					font-weight: 400;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}
	}

	.card-block, .card-txs {
		background-color: transparent;
	}

	.card-header {
		border-bottom-color: darken($labels-dark, 30);
	}

	.address-detail-hash-title {
		color: #fff;
		display: flex;
    align-items: center;
		gap: 1rem;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
	}

	.card-tabs {
		border-bottom-color: #191C29;
	}

	.card-tab {
		background-color: transparent;
		&:hover:not(.active) {
			background-color: rgba($dark-primary, .15);
			color: $dark-primary;
		}
		&.active {
			background-color: $dark-primary-alternate;
			color: #13151F;
		}
	}

	.card-background-1 {
		background-color: $dark-primary-alternate;
	}
	
	.index-label {
		color: #00E7FF;
		background: #1D2A37;
		border-radius: 6px;
	}

	// Components
	a {
		color: $dark-primary;
	}

	.tile, .tile-code {
		border-top-color: #0E0F16;
		border-bottom-color: #0E0F16;
		border-right-color: #0E0F16;
		background-color: #0E0F16;
		color: #9CA3AF;
		&:not([class^="tile tile-type"]) {
			border-left-color: #0E0F16;
		}
		&.tile-type-coin-balance {
			border-left-color: #0E0F16;
		}
		.tile-title {
			color: #fff;
			// padding: 12px 16px;
		}
		.tile-block {
			padding: 12px 16px;
		}
		.tile-transaction-type-block {
			// background-color: transparent;
		}
		.tile-internal-tx {
			background-color: #181F21;
			color: #75E44E;
			.tile-label {
				color: #75E44E;
			}
		}
	}
	.tile-bottom-contents {
		background-color: #191C29;
	}
	a.tile-title {
		color: #fff !important;
	}
	.tile.tile-type-block .tile-transaction-type-block a {
		color: #fff;
	}

	.tile-type-internal-transaction {
		background: #13151F;
	}

	.list-card {
		.tile.tile-type-block {
			background-color: #13151F !important;
		}
	}

	.tile-type-reorg {
		padding: 1.875rem 1.5rem;
    border-radius: 8px;
	}

	.tile.tile-type-reorg .tile-transaction-type-block {
		background: #1D2A37;
		border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
	}

	.item-coin-balance {
		background: #13151F;
		border-radius: 8px;
		padding: 20px;

		.time {
			font-weight: 400;
			font-size: 12px;
			line-height: 150%;
			color: #757F8F;
			margin-top: 8px;
		}

		.tile-title-lg {
			font-weight: 400;
			font-size: 14px;
			line-height: 150%;
		}
	}

	.fade-up-blocks-chain .tile-type-block-animation {
		background-color: $dark-light;
		border-top-color: $dark-light;
		border-right-color: $dark-light;
		border-bottom-color: $dark-light;
	}
	.fade-up-blocks-chain .tile-type-block-animation:after {
		background-color: $dark-light;
	}
	.cube-animation-title {
		color: $labels-dark;
	}
	.tile .tile-body a,
	.tile a:hover,
	.tile span[data-address-hash],
	.tile a[data-test=token_link] { color: #FFFFFF; }
	.fade-up-blocks-chain .tile-type-block-animation .tile-type-line-up {
		background-color: $dark-primary;
	}
	.tile.tile-type-block {
		border-left-color: #00E7FF;
		// border-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		background: #0E0F16;
	}
	.tile.tile-type-block {
		.text-block {
			color: #757F8F;
			font-weight: 400;
			font-size: 12px;
			line-height: 150%;
		}

		.text-miner {
			font-weight: 400;
			font-size: 12px;
			line-height: 150%;
			color: #FFFFFF;

			a:hover {
				color: #ffffff;
			}
		}
	}
	.tile.tile-type-block .tile-status-label {
		color: #00E7FF;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
	}
	.tile.tile-type-block .tile-transaction-type-block {
		background: #1D2A37;
		border-radius: 0;
	}
	.tile .progress {
		background-color: #1D2A37;
	}
	.tile .progress .progress-bar {
		background-color: $dark-primary;
	}
	.tile .tile-title-lg:not([data-balance-change-sign]) {
		color: $dark-primary;
	}

	// btns

	.btn-line {
		border: none;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		color: #FBFBFB;
		background-color: transparent;
		&:hover {
			text-decoration: underline;
		}
	}

	.type-link {
		padding: unset;
		a {
			color: #FBFBFB;
			margin-right: 8px;
		}

		svg {
			margin-right: unset;
		}
	}

	.btn-copy-icon, .btn-qr-icon, .btn-wallet-icon .btn-address-card-icon .btn-contract-icon {
		background: #191C29;
    border-radius: 4px;
    border: none;
		path {
			fill: #757F8F;
		}
		&:hover {
			background-color: #00E7FF;
			path {
				fill: #13151F;
			}
			rect {
				fill: #00E7FF;
			}
		}
	}

	// pagination
	.pagination-container .pagination .page-link {
		border-color: #191C29;
		background-color: #191C29;
		border-radius: 4px;
		color: #757F8F;
		font-weight: 400;
    font-size: 12px;
    line-height: 150%;
		&:not(.no-hover):hover {
			color: #fff;
			background-color: $dark-primary;
			path {
				fill: #fff;
			}
		}
		&[disabled] {
			color: $labels-dark;
			border-color: #191C29;
			background-color: #191C29;
		}

		svg {
			path {
				fill: #757F8F;
			}
		}

		&.no-hover {
			// padding: 7px 16px;
			// height: 32px;
		}
	}

	// dropdown
	.dropdown-menu {
		background-color: #191C29;
		border-left-color: #191C29;
		border-right-color: #191C29;
		border-bottom-color: #191C29;
	}

	.dropdown-item {
		color: #fff;
		&:hover {
			background-color: rgba(#fff, .1);
		}
	}
	.dropdown-item.active {
		background-color: $dark-primary;
	}
	.dropdown-item.active.header,	.dropdown-item.header:hover,	.dropdown-item.header:focus {
		background-color: #191C29 !important;
	}
	.btn-dropdown-line {
		background-color: #191C29;
		border-color: #191C29;
		color: #757F8F;
		border-radius: 4px;
	}

	// table
	.stakes-table-head, .stakes-table-th {
		background-color: transparent;
		color: #757F8F;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
	}

	.stakes-table-body {
		.refresh-informer {
			a {
				color: inherit;
			}
		}
	}

	.addresses-table-container {
		tbody tr {
			border-radius: 8px;
			margin-bottom: 12px;
			td {
				background-color: #0E0F16;

				&:first-child {
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
				}

				&:last-child {
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
				}
			}
		}
	}

	.stakes-tr {
		background: #13151F;
		border-radius: 8px;
	}

	.stakes-td {
		border: none;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
	}

	.stakes-tr-banned {
		.stakes-td {
			background-color: $dark-stakes-banned-background;
			border-top: 1px solid $stakes-banned-color;
			border-bottom-color: $stakes-banned-color;

			.stakes-td-link-style {
				color: $stakes-banned-color;
			}
		}

	}

	.modal-validator-alert {
		background-color: $dark-stakes-banned-background;
		border-top: 1px solid $stakes-banned-color;
		border-bottom-color: $stakes-banned-color;
	}

	.table th, .table td {
		border-top-color: darken($labels-dark, 30);
	}
	hr {
		border-top-color: darken($labels-dark, 30);
	}

	.i-tooltip {
		.i-tooltip-circle {
			fill: #757F8F;
		}

		.i-tooltip-info {
			fill: #282945;
		}

		&:hover {
			.i-tooltip-circle {
			  fill: $dark-primary;
			}

			.i-tooltip-info {
				fill: #fff;
			}
		}
	}

	// api's
	.api-anchors-list {
		background-color: #0E0F16;
	}
	.api-doc-list-item {
		border-bottom-color: darken($labels-dark, 30);
	}
	.card-subtitle {
		color: #757F8F;
	}

	.api-anchors-list-item-title,
	.api-doc-list-item-title {
		color: #fff;
	}
	.api-text-monospace {
		color: #67F0FE;
	}
	.api-text-monospace-background {
		background-color: #1D2A37;
	}
	.badge.badge-neutral {
		background-color: #1D2A37;
		color: $dark-primary;
	}

	.badge.badge-danger {
		background-color: #2B272E;
		color: #FFA869;
	}
	.badge.badge-success {
		background-color: #181F21;
		color: #75E44E;
	}

	// download csv button
	.download-all-transactions .download-all-transactions-link svg path {
		fill: $dark-primary;
	}

	//tooltips
	.tooltip .arrow:before {
		border-top-color: $dark-primary;
    	border-bottom-color: $dark-primary;
	}
	.tooltip > .tooltip-inner {background-color: $dark-primary;}

	.tooltip-pale-color.bs-tooltip-top .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="top"] .arrow::before {
		border-top-color: rgba(#fff, 0.5) !important;
	}
		
	.tooltip-pale-color.bs-tooltip-right .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="right"] .arrow::before {
		border-right-color: rgba(#fff, 0.5) !important;
	}
		
	.tooltip-pale-color.bs-tooltip-bottom .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
		border-bottom-color: rgba(#fff, 0.5) !important;
	}
		
		
	.tooltip-pale-color.bs-tooltip-left .arrow::before,
	.tooltip-pale-color.bs-tooltip-auto[x-placement^="left"] .arrow::before {
		border-left-color: rgba(#fff, 0.5) !important;
	}

	//coin dropdown
	.token-balance-dropdown.dropdown-menu {
		border-color: $dark-light !important;
		box-shadow: 0 0 30px 0 rgba(23, 24, 41, 0.5) !important;
	}
	.token-balance-dropdown .dropdown-search-icon path {
		fill: $labels-dark;
	}
	.token-balance-dropdown .dropdown-search-field {
		background-color: $dark-light;
		border-color: $dark-light;
		color: #fff;
		&::placeholder {
			color: $labels-dark;
		}
	}
	.token-balance-dropdown[aria-labelledby="dropdown-tokens"] .dropdown-items .dropdown-item:hover {
		color: #fff !important;
	}
	.dropdown-header {
		color: $labels-dark;
	}
	.border-bottom {
		border-bottom-color: darken($labels-dark, 30) !important;
	}

	// coin balance history chart
	.chartjs-render-monitor[data-chart="coinBalanceHistoryChart"] {
		filter: brightness(0) invert(1) !important;
	}

	// logs search
	.logs-search-input, .logs-search-btn, .logs-search-btn-cancel {
		background-color: #191C29;
		border-color: #191C29;
		color: #fff;
	}

	.logs-search-btn {
		color: #757F8F;
	}

	.logs-search-btn {
		height: 32px;
		&:hover {
			background-color: $dark-primary;
			color: #fff;
		}
	}

	.logs-search-input {
		&::placeholder {
			color: $labels-dark;
		}
	}

	// code
	pre {
		color: #fff;
	}

	// info allert
	.alert-info {
		color: $labels-dark;
		background-color: $dark-light;
		border-color: $dark-light;
	}

	// dark text
	.text-dark {
		color: #fff !important;
	}

	// Contract Verification
	.new-smart-contract-container {
		background-color: $dark-light-bg;
		background-image: linear-gradient(to bottom right, $dark-light 100%, $dark-light 100%);
		@media (max-width: 991.98px) {
			background-image: none;
		}
	}
	.smart-contract-form-group-inner-wrapper .smart-contract-form-group-tooltip {
		color: $labels-dark;
	}
	.smart-contract-title {
		color: #fff;
	}
	.smart-contract-form-group-inner-wrapper > label {
		color: $labels-dark;
	}
	.smart-contract-form-buttons {
		border-top-color: darken($labels-dark, 30);
		.btn-no-border {
			background-color: $dark-light;
			border-color: $dark-light;
			color: #fff;
			&:hover {
				background-color: $dark-primary;
				color: #fff;
			}
		}
	}
	.add-contract-libraries-wrapper {
		border-top-color: darken($labels-dark, 30);
	}

	.token-tile-view-more:before, .token-tile-view-more:after {
		border-top-color: darken($labels-dark, 30);
		border-bottom-color: darken($labels-dark, 30);
	}

	// Form Controlls
	.form-control {
		background-color: #191C29;
		border-color: #191C29;
		color: #fff;
		transition: border-color 0.15s ease-in-out;

		&[readonly] {
			background-color: #191C29 !important;
		}

		&::placeholder {
			color: $labels-dark;
		}
		&:focus {
			background-color: $dark-light;
			border-color: $dark-primary;
			color: #fff;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus {
			caret-color: #fff;
			-webkit-text-fill-color: #fff;
			-webkit-box-shadow: 0 0 0px 1000px $dark-light inset;
		}
	}

	.input-group:not(.input-status-error) .form-control:focus ~ .input-group-prepend.last {
		.input-group-text {
		  border-color: $dark-primary;
		}
	}

	.input-group-prepend.last {
		.input-group-text {
			background: $dark-light;
			border-color: $dark-light;
			color: $labels-dark;
		}
	}

	.radio-big .radio-icon {
		border-color: $labels-dark;
	}
	.radio-big input[type="radio"]:checked + .radio-icon {
		border-color: $dark-primary;
	}
	.radio-big input[type="radio"]:checked + .radio-icon::before {
		background: $dark-primary;
	}
	.radio-big .radio-text {
		color: #fff;
	}

	.check input[type="checkbox"]:checked + .check-icon::before {
		background: $dark-primary;
	}

	// Content loading placeholders
	.tile-loader, .table-content-loader {
		background-color: $dark-bg !important;
		&:before {
			background: linear-gradient(to right, $dark-bg 2%, lighten($dark-bg, 3) 18%, $dark-bg 33%);
		}
	}

	// Verify other explorers
	.verify-other-explorers-elem {
		border-color: darken($labels-dark, 30);
		.exp-logo {
			border-right-color: darken($labels-dark, 30);
		}
		.exp-content {
			h3 {
				color: #fff;
			}
			div {
				color: $labels-dark;
			}
		}
	}
	.verify-other-explorers-more {
		border-color: $dark-primary;
		svg path {
			fill: $dark-primary;
		}
		&:hover {
			background-color: $dark-primary;
			svg path {
				fill: #fff;
			}
		}
	}
	.verify-other-explorers-elem {
		&:hover {
			text-decoration: none;
			color: #fff;
			.exp-content {
				h3, div {
					color: #fff;
				}
			}
		}
	}

	.modal-footer {
		border-top: none;
	}

	.button-close {
		width: 100%;
		border: 1px solid #FBFBFB !important;
		border-radius: 8px;
		padding: 12px 32px;
		gap: 12px;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		color: #FBFBFB;
		background-color: transparent !important;
	}

	#explorersModal {
		.modal-title {
			color: #fff;
		}

		.text-muted {
			color: $labels-dark;
		}

		.modal-footer {
			border-top-color: darken($labels-dark, 30);
		}

		.modal-content {
			background-color: $dark-light-bg;

			.btn-primary {
				background-color: $dark-primary;
				border-color: $dark-primary;
				&:hover {
					background-color: $dark-primary;
					border-color: $dark-primary;
				}
			}
		}

		.verify-other-explorers-cell {
			.exp-logo {
				color: #fff;
			}
		}

		.close {
			color: #fff;
		}
	}

	#qrModal {
		.close {
			color: #fff;
		}
	}

	// API docs dropdown content
	.api-doc-parameters-list-item-description,
	.api-doc-parameters-list-item-title,
	.api-doc-parameters-list-title,
	.api-doc-list-item-controls-view-more {
		color: #fff;
	}

	.api-doc-parameters-list {
		border-bottom-color: darken($labels-dark, 30);
	}
	.api-doc-parameters-container {
		border-top-color: darken($labels-dark, 30);
	}
	.api-doc-tab {
		color: $dark-primary !important;
		&.active {
			border-bottom-color: $dark-primary;
		}
	}

	// Common Buttons
	.btn-secondary, .button-secondary {
		background-color: transparent;
		border-color: $dark-primary;
		color: $dark-primary;
		&:hover {
			background-color: $dark-primary;
			border-color: $dark-primary;
			color: #fff;
		}
	}

	// Decoded data
	.table.thead-light.table-bordered {
		color: #fff !important;
	}
	.table-bordered, .table-bordered td, .table-bordered th {
		border-color: darken($labels-dark, 30);
	}
	.dark-theme-applied .table td, .dark-theme-applied .table th, .dark-theme-applied hr {
		border-top-color: darken($labels-dark, 30);
	}
	.btn-copy-ico svg path {
		fill: #fff;
	}

	// pre
	.pre-scrollable.line-numbers, .hljs {
		background: #13151F;
		color: #fff;
	}

	.card .card-body .tile.tile-muted.raw-input {
		background-color: #0E0F16 !important;
	}

	.hljs-comment {
		color: $labels-dark;
	}

	.hljs-title, .hljs-section {
		color: #ff2294;
	}

	.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
		color: #ff2294;
	}

	.hljs-literal, .hljs-built_in, .hljs-bullet, .hljs-code, .hljs-addition {
		color: #20dd94;
	}

	.line-numbers [data-line-number]:before {
		color: #3f436b !important;
		border-right-color: #3f436b !important;
	}

	// 'text dark' label
	.text-dark {
		color: #fff;
	}

	// validator info
	#validatorModal {
		.modal-title {
			color: #fff;
		}

		.text-muted {
			color: $labels-dark;
		}

		.modal-footer {
			border-top-color: darken($labels-dark, 30);
		}

		.modal-content {
			background-color: $dark-light-bg;

			.btn-primary {
				background-color: $dark-primary;
				border-color: $dark-primary;
				&:hover {
					background-color: $dark-primary;
					border-color: $dark-primary;
				}
			}
		}

		.close {
			color: #fff;
		}
	}

	.modal-status {
		.modal-status-title {
			color: #fff;
		}

		.modal-status-button-wrapper .btn-line {
			border-color: $dark-primary-alternate;
			color: $dark-primary-alternate;

			&:hover {
				background-color: $dark-primary-alternate;
				color: $additional-font;
			}
		}
	}

	.modal-dialog {
		.modal-title {
			color: #fff;
			font-weight: 700;
			font-size: 20px;
			line-height: 125%;
		}
		.modal-content {
			background-color: #0E0F16;
			border-radius: 8px;
		}

		.modal-bottom-disclaimer {
			background-color: $dark-light;

			color: $labels-dark;
		}

		.modal-bottom-disclaimer-graphic svg {
			fill: #fff;
		}

		.modal-header {
			.modal-validator-info-item-title {
				color: $labels-dark;
			}

			.modal-validator-info-item-value {
				color: #fff;
			}
		}

		.modal-validator-info-content {
			background-color: $dark-light;

			.modal-validator-info-item-value {
				color: #fff;
			}
		}
	}

	//stakes
	.modal-stake-right {
		.stakes-progress {
		  border-left-color: darken($labels-dark, 30);
		}
	}

	.modal-stake-left {
		border-right-color: darken($labels-dark, 30);
	}

	.stakes-progress-data-progress, .stakes-progress-info-value {
		color: #fff;
	}

	.stakes-empty-content-text {
		color: $labels-dark;
	}

	.stakes-empty-content-pic-svg-path {
		fill: $dark-primary;
	}

	.stakes-address-container .stakes-address-active {
		color: $dark-primary;
	}

	.stakes-td-link-style {
		color: $dark-primary;
	}

	.stakes-control-icon path {
		fill: $dark-primary;
	}

	.progress-from-to-value {
		color: #fff;
	}

	.progress-from-to-background {
		background-color: $dark-bg;
	}

	.check-tooltip {
		.check-tooltip-circle {
			fill: $labels-dark;
		}

		.check-tooltip-check {
			fill: $dark-light-bg;
		}

		&:hover {
			.check-tooltip-circle {
			  fill: $dark-primary;
			}
		  }
	}

	.me-tooltip {
		background-color: $labels-dark;
		color: $dark-light-bg;

		&:hover {
			background-color: $dark-primary;
		}
	}

	// alerts
	.alert-link {
		color: $labels-dark;
	}

	.alert-danger {
		background-color: #191C29;
		border-color: #191C29;
		.alert-link {
			color: $alert-danger-color;
		}
	}

	.tile .alert {
		background: rgba(#000, .1);
	}

	// primary buttons
	.btn-full-primary, .button-primary {
		background: $dark-primary;
		border-color: $dark-primary;
		color: #fff;
		&:hover {
			background: darken($dark-primary, 6);
			border-color: darken($dark-primary, 6);
			color: #fff;
		}

		&[disabled] {
			&,
			&:hover {
			  background-color: $dark-primary;
			  border-color: $dark-primary;
			}
		}
	}

	.logo-text {
		color: #fff;
	}

	.bs-label.omni {
		background: #6ca1e2
	}

    .bs-label.validator,
    .bs-label.destination-eth {
        background-color: $labels-dark;
    }

	.dropdown-item {
		.external-link-icon {
			path {
			  fill: #fff;
			}
		}

		& {
			&.active,
			&:hover,
			&:focus {
			  .external-link-icon {
				path {
				  fill: #fff;
				}
			  }
			}
		  }
	}

	.tooltip-inversed-color {
		.tooltip-inner {
			background-color: $btn-line-color !important;
			color: #fff !important;
		}
	}

	.tooltip-inversed-color.bs-tooltip-top .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="top"] .arrow::before {
		border-top-color: $btn-line-color !important;
	}
		
	.tooltip-inversed-color.bs-tooltip-right .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="right"] .arrow::before {
		border-right-color: $btn-line-color !important;
	}
		
	.tooltip-inversed-color.bs-tooltip-bottom .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
		border-bottom-color: $btn-line-color !important;
	}
		
		
	.tooltip-inversed-color.bs-tooltip-left .arrow::before,
	.tooltip-inversed-color.bs-tooltip-auto[x-placement^="left"] .arrow::before {
		border-left-color: $btn-line-color !important;
	}

	.stakes-top {
		background-color: $dark-bg;
		background-image: none;
	}

	.contract-plus-btn {
		color: $dark-primary;
	}
	.custom-power-input {
		border-color: $dark-primary;
	}
	.stakes-btn-close-alert {
		path {
			fill: #fff;
		  }
	}
	.main-search-autocomplete {
		background-color: #13151F !important;
		color: #fff !important;
	}
	.autocomplete-category {
		color: #fff !important;
	}
	ul[id^='autoComplete_list_'] {
		background-color: $dark-light-bg !important;
	}
	li[id^='autoComplete_result_'] {
		background-color: $dark-light-bg !important;
		color: #fff !important;

		&:hover {
			background-color: $dark-primary !important;
		}
		&[aria-selected="true"] {
			background-color: $dark-primary !important;
		}
	}
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border: none;
}

.dark-theme-applied .dropdown-item {
	background-color: #0E0F16 !important;
	color: #fff !important;
}

.dark-theme-applied .dropdown-item.active:not(.header), .dark-theme-applied .dropdown-item:not(.header):hover, .dark-theme-applied .dropdown-item:not(.header):focus {
    background-image: none;
    width: 100%;
    background-color: #13151F !important;
}

@media (max-width: 991.98px) {
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:hover,
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link.activeLink,
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:focus {
		background-image: none;
		width: 100%;
		background-color: #35335d !important;
		color: white;
		border: none;
	}
	.dark-theme-applied .dropdown-item:hover:before {
		content: "|";
		height: 50px;
		width: 50%;
		opacity: 1;
		background: none;
		right: 17%;
		color: $dark-primary;
		position: relative;
	}
	.dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:hover:before
	{
		content: "|";
		height: 50px;
		width: 50%;
		opacity: 1;
		background: none;
		left: 24%;
		top: 14%;
		color: $dark-primary;
	}
}
.dark-theme-applied .confirmations-label:after {
    border-left: .9rem solid $dark-light-bg;
}

.dark-theme-applied .i-tooltip-2:hover{
	color: $labels-dark;
}

.dark-theme-applied .btn-no-border-link-to-tems {
	color: $dark-primary !important;
	background-color: #1D2A37 !important;
	opacity: 0.5;
	border-radius: 6px;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	margin-left: 0;
}