// @import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Thin.woff2") format("woff2"),
    url("../../fonts/EffraTrial-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-XBold.woff2") format("woff2"),
    url("../../fonts/EffraTrial-XBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-SemiBold.woff2") format("woff2"),
    url("../../fonts/EffraTrial-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Medium.woff2") format("woff2"),
    url("../../fonts/EffraTrial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Regular.woff2") format("woff2"),
    url("../../fonts/EffraTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Hairline.woff2") format("woff2"),
    url("../../fonts/EffraTrial-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Black.woff2") format("woff2"),
    url("../../fonts/EffraTrial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Light.woff2") format("woff2"),
    url("../../fonts/EffraTrial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Effra";
  src: url("../../fonts/EffraTrial-Bold.woff2") format("woff2"),
    url("EffraTrial-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
